.navbar {
    overflow: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar a{
    font-size: 20px;
}
.navbar a:hover{
    background-color: royalblue;
}
.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    text-align: center;
    justify-content: center;
    background-color: white;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
body{
    padding-top: 55px;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

}
h1{
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}

#projects{
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}
#contact{
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}



.topnav {
    overflow: hidden;
    background-color: lightblue;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Hamburger MENU FROM TUROIAL */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color:royalblue;
    color: white;
  }